<p>modified-product works!</p>
<form [formGroup]="productForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="id">ID</label>
    <input type="number" id="id" formControlName="id" />
  </div>
  <div class="form-group">
    <label for="productName">Product-Name</label>
    <input type="text" id="productName" formControlName="productName" />
  </div>

  <div class="form-group">
    <label for="company">Company</label>
    <input type="text" id="company" formControlName="company" />
  </div>

  <div class="form-group">
    <label for="vendor">Vendor</label>
    <input type="text" id="vendor" formControlName="vendor" />
  </div>

  <div class="form-group">
    <label for="inStock">In-Stock</label>
    <input type="checkbox" id="inStock" formControlName="inStock" />
  </div>
  <!--Price-->
  <div class="form-group">
    <label for="price">Price</label>
    <input type="number" id="price" formControlName="price" />
  </div>
  <!--Submit Button-->
  <button type="submit">Submit</button>
  <!--Delete Button-->
  <button type="button"(click)="onDelete()">Delete</button>



</form>
