<!-- This is the template of the list item, this is what will get repeated for every list item that you have -->
<div *ngIf="product" class="product-container">
  <table class="product-table">
    <thead>
    <tr>
      <th>ID</th>
      <th>Picture</th>
      <th>Company</th>
      <th>In Stock</th>
      <th>Price</th>
      <th>Product Name</th>
      <th>Vendor</th>
      <th>
        fullProduct-detail
      </th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>{{ product.id }}</td>
      <td><img [src]="product.img" alt="An image" class="product-image"></td>
      <td>{{ product.company | titlecase }}</td>
      <td>{{ product.inStock }}</td>
      <td>{{ product.price | currency:"USD"}}</td>
      <td>{{ product.productName | uppercase}}</td>
      <td>{{ product.vendor }}</td>
      <td>
        {{product | productName}}
      </td>

      <td> <button (click)="editProduct()">Edit</button></td>
      <td> <button (click)="onDelete(product.id)">Delete</button></td>
    </tr>
    </tbody>
  </table>
</div>
